.navbar-container {
    height: 70vh;
}
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline;
    margin: 0 1rem;
    color: #fff;
  }