.navbar-container {
  height: 300px;
  margin-top: -20px;
}
  nav {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline;
    margin: 0 1rem;
    color: #fff;
  }